body {
    font-family: 'Comic Sans MS';
    /* http://lea.verou.me/css3patterns/#yin-yang */
    background: radial-gradient(circle at 50% 59%, #D2CAAB 3%, #364E27 4%, #364E27 11%, rgba(54,78,39,0) 12%, rgba(54,78,39,0)) 50px 0, radial-gradient(circle at 50% 41%, #364E27 3%, #D2CAAB 4%, #D2CAAB 11%, rgba(210,202,171,0) 12%, rgba(210,202,171,0)) 50px 0, radial-gradient(circle at 50% 59%, #D2CAAB 3%, #364E27 4%, #364E27 11%, rgba(54,78,39,0) 12%, rgba(54,78,39,0)) 0 50px, radial-gradient(circle at 50% 41%, #364E27 3%, #D2CAAB 4%, #D2CAAB 11%, rgba(210,202,171,0) 12%, rgba(210,202,171,0)) 0 50px, radial-gradient(circle at 100% 50%, #D2CAAB 16%, rgba(210,202,171,0) 17%), radial-gradient(circle at 0% 50%, #364E27 16%, rgba(54,78,39,0) 17%), radial-gradient(circle at 100% 50%, #D2CAAB 16%, rgba(210,202,171,0) 17%) 50px 50px, radial-gradient(circle at 0% 50%, #364E27 16%, rgba(54,78,39,0) 17%) 50px 50px;
    background-color: #63773F;
    background-size: 100px 100px;
    color: red;
    font-weight: 900;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}


h1 {
    font-size: 3rem;
    font-weight: 900;
    position: absolute;
    animation: rotate 2s infinite linear;
    transform-origin: 50% 50%;
}

.main {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    overflow: hidden;
}

hr {
    border: 1px ridge white;
}

.btn, select, option, .form-control {
    border: 3px ridge white;
    background-color: black;
    border-radius: 0;
    text-decoration: underline;
    color: yellow;
    -webkit-text-stroke-width: 0;
}

    .btn:hover, select:hover, option:hover {
        background-color: yellow;
        color: black;
    }

.form-control {
    height:50px;
}

.btn-primary {
    background-color:darkgoldenrod;
}

.btn-success, .btn-warning {
    animation: blink 1s steps(5, start) infinite;
}

.btn-success {
    background-color:pink;
    color:green;
}

.btn-warning {
    background-color: green;
    color: pink;
}

.glyphicon {
    animation: rotate 2s infinite linear;
    transform-origin: 50% 50%;
}

footer {
    border-bottom: 2px ridge white;
}

footer > p {
    position: relative;
    animation: left-right 10s linear infinite;
}

@keyframes left-right {
    from { left:-50%; }
    to { left:100%; }
}

@keyframes spin {
    to {
        transform:rotate(360deg);
    }
}

@keyframes blink {
    to { visibility: hidden; }
}

@keyframes rotate {
    to { transform: rotateY(-360deg) rotateX(0deg); }
}